@charset "UTF-8";

html {
    margin: 2rem;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
    padding: 1rem;
    background-color: antiquewhite;
    border-radius: 1.5rem;
}

nav ul {
    justify-content: space-around;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link { 
    text-decoration: none;
    color: brown; 
  } 
  a:visited { 
    text-decoration: none;
    color: saddlebrown; 
  } 
  a:hover { 
    text-decoration: none;
    color: green; 
  } 
  a:active { 
    text-decoration: none;
    color: lime; 
  }
  
  main {
    font-size: 110%;
  }

  /* body {
    background-image: url("paper.gif");
    background-color: #cccccc;
   } */

   footer {
    /* color: #EADDC4; */
    text-align: left;
    font-size: .8em;
  }

  main {
    background-color: white;
    line-height: 2em;
    color: #555;
    padding: 1rem;
    margin: 2%;
    border: double 5px antiquewhite;
    border-radius:1.5rem;
  }

.style {
    color: darkorange;
}
